
.CartContainer{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    max-width: 80vw;
    min-height: 100vh;
    margin: 0 auto;
    -webkit-animation: fadeIn 2s;
}

.CartContainer .Header{
    color:#201d37;
    margin-top: 4%;
    margin-bottom:15px;
}
.CartContent{
    position: relative;
    display: flex;
    font-family: Gotham-Bold,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    flex-direction: row;
    justify-content: center;
    resize: both;
    flex-wrap: wrap;
    align-items: center;

}
.CartContent img{
    width: 50%;
}
.CartItem{
    margin:3%;
    color:#707070;
    width: 25%;
}
div .CartItemHeading{
    margin:3%;
    color:#707070;
    width:25%;
}
div .CartItemHeading h5{
    color:#707070;
}
.CartContent hr{
    width: 80%;
}
.CartRecap{
    margin-left:63%;
    margin-bottom: 5%;
}
.CartItem p{
    margin: 3%;
}
.cartRemoveButton{
    margin-top: 5%;
}
.QuantityContainer{
    margin:0 auto;
    border:1px solid #707070;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
@media (max-width: 800px) {
    .CartContainer{
      flex-direction: column;
    }
    .CartContainer .Header{
        color:#201d37;
        margin-top: 23%;
        margin-bottom:15px;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .CartContainer .Header{
        color:#707070;
        margin-top: 20%;
        margin-bottom:15px;
    }
}