.ProductDetailContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    -webkit-animation: fadeIn 1s;

    p {
        color: #707070;
    }

    .ProductImageContainer {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 30%;

        img {
            max-width: 450px;
            margin: 3%;
        }
    }

    .ProductInfoContainer {
        margin-top: 10%;
        width: 30%;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        text-align: justify;

        hr {
            width: 100%;
        }
    }

    .InfoDetails {
        margin-bottom: 3%;
    }

    .SizeList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .SizeInStock {
        width: 15%;
        border: 1px solid #707070;
        margin: 2%;
        text-align: center;
        cursor: pointer;
        padding: 10px;
    }

    .SizeNoStock {
        min-width: 15%;
        border: 1px solid #707070;
        margin: 2%;
        text-align: center;
        background-color: #d3d3d3;
        cursor: no-drop;
        padding: 10px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInLeftDetail {
    from {
        opacity: 0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@-moz-keyframes fadeInLeftDetail {
    from {
        opacity: 0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInLeftDetail {
    from {
        opacity: 0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
.in-left {
    -webkit-animation-name: fadeInLeftDetail;
    -moz-animation-name: fadeInLeftDetail;
    -o-animation-name: fadeInLeftDetail;
    animation-name: fadeInLeftDetail;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-duration: 1s;
    animation-delay: 0s;
}
.in-left2 {
    -webkit-animation-name: fadeInLeftDetail;
    -moz-animation-name: fadeInLeftDetail;
    -o-animation-name: fadeInLeftDetail;
    animation-name: fadeInLeftDetail;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-duration: 1s;
    animation-delay: 0.5s;
}
.in-left3 {
    -webkit-animation-name: fadeInLeftDetail;
    -moz-animation-name: fadeInLeftDetail;
    -o-animation-name: fadeInLeftDetail;
    animation-name: fadeInLeftDetail;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration: 1s;
    animation-delay: 1s;
}
.in-left4 {
    -webkit-animation-name: fadeInLeftDetail;
    -moz-animation-name: fadeInLeftDetail;
    -o-animation-name: fadeInLeftDetail;
    animation-name: fadeInLeftDetail;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-duration: 1s;
    animation-delay: 1.5s;
}

@media (max-width: 700px) {
    .SizeInStock {
        min-width: 20% !important;
    }
    .SizeNoStock {
        min-width: 20% !important;
    }
}
@media (max-width: 800px) {
    .ProductDetailContainer {
        flex-direction: column-reverse;
    }
    .ProductImageContainer {
        width: 70% !important;
        margin: 0 auto;
    }
    .ProductInfoContainer {
        width: 80% !important;
        margin-top: 25%;
        margin-left: 10%;
        margin-bottom: 10%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .ProductInfoContainer {
        margin-left: 10%;
    }
    .ProductImageContainer {
        margin-top: 5%;
    }
}
