.product-details {
    display: flex;
    flex-wrap: wrap;

    .product-filter {
        width: 100%;
        max-height: 500px;
        padding: 0px 15px;
        display: flex;
        text-align: left !important;
        background: #fff !important;
        padding: 15px;
        color: black;

        @media (max-width: 567px) {
            flex-direction: column;
        }

        > div {
            padding-left: 50px;

            @media (max-width: 567px) {
                padding-left: 10px;
            }
        }

        .product-filter-content {
            .header {

                svg {
                    transition: transform 0.3s ease-in;
                }

                h5 {
                    font-size: 16px;
                    cursor: pointer;
                }
            }

            .filter-content {
                background: black;
                color: white;
                border-radius: 10px;
                width: 300px;
                max-height: 0px;
                overflow: hidden;
                transition: max-height .5s;
                position: absolute;
                z-index: 10;
                opacity: 0;

                .filter-item {
                    
                    label {
                        display: flex;
                        align-items: center;
                        height: 54px;
                        margin-bottom: 0px;
                        cursor: pointer;
                    }

                    input {
                        width: 24px;
                        height: 24px;
                        margin: 0px 15px;

                        &:checked {
                            background: white;
                        }
                    }
                }
            }

            &.collapse-show {
                .header {
                    h5 {
                        svg {
                            transform: rotate(-180deg);
                        }
                    }
    
                    .filter-content {
                        display: block;
                    }
                }

                .filter-content {
                    display: block;
                    opacity: 1;
                }
            }
        }
    }

    .Content {
        min-width: 0vw;
        width: 100%;
        max-width: 100%;
        background-color: unset;
        margin-top: 0px;
    }
}
