.background {
    max-width: 100vw;
    min-width: 100vw;
    min-height: 100vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    background-color: #201d37;
    display: flex;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    resize: both;
    /* visibility: hidden; */
} 
.background_img{
    margin: 3%;
    object-fit: cover;
    width: 1000px;
}
.item{
    flex:auto
}
.background_text{
    margin: 3%;
}
.shop{
    display: inline-block;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.shop:hover{
    top: -5px;
}
@media (max-width: 800px) {
    .background{
      flex-direction: row;
    }
    .item{
        flex: auto;
    }
    .background_img{
        margin: 0 auto;
    }

    .background_text h5{
        margin-top: 40%;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    img{
        max-width: 90%;
    }
    .shop{
        margin:2%
    }
}
